html {
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   font-size: 14px;
}

/* navigation bar, top */
.navigation {
   display: flex;
   justify-content: flex-end;
}

a {
   margin: 0 10px 0 10px;
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: underline;
}

/* logo area/what kind of search */
.logo {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   height: 200px;
}

.main-text {
   font-size: 4rem;
   margin: 1rem 1rem 0 1rem;
   align-items: center;
}

.sub-text {
   font-size: 22px;
   font-weight: bold;
}

/* form area */
.form-wrapper {
   margin-top: 18px;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.search-bar {
   height: 44px;
   border: 1px solid #dfe1e5;
   border-radius: 24px;
   width: 80%;
   max-width: 584px;
}

.btns {
   margin-top: 20px;
}

input[type=submit] {
   background-color: #f8f9fa;
   height: 36px;
   min-width: 54px;
   margin-top: 20px;
   border: 1px solid #f8f9fa;
   border-radius: 4px;
   font-size: 14px;
   margin: 11px 4px;
   padding: 0 16px;
   cursor: pointer;
   color: #3c4043;
}

input[type=submit]:hover {
   box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
   background-color: #f8f9fa;
   border: 1px solid #dadce0;
   color: #202124;
}

input[type=submit]:focus {
   border: 1px solid #4285f4;
}